CONFIG_SAMA5D2_PROTO888A=y
CONFIG_SPI=y
CONFIG_SPI1_IOSET_3=y
CONFIG_QSPI=y
CONFIG_QSPI1_IOSET_2=y
CONFIG_DEBUG=y

#
# Memory selection
#
ALLOW_DATAFLASH=y
ALLOW_WITH_MMU=y
ALLOW_WITH_CACHE=y
ALLOW_WITH_DMA=y
ALLOW_KNOWN_RAM_CHIP_DEFINITION=y

CONFIG_DDRC=y
CONFIG_LPDDR1=y
CONFIG_RAM_CHIP_W948D2=y
CONFIG_RAM_32MB=y

# CONFIG_ENTER_NWD is not set
